
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h1>New Category </h1>
<br />
<form class="form-group" method="post">
    <input type="text" placeholder="Category Name" name="CategoryName"  class="form-control"/>
    <br />
    <input type="text" placeholder="Explanation " name="Description"  class="form-control"/>
    <br />
    <button class="btn btn-primary">ADD</button>
</form> 