@using EntityLayer.Concrete
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
<br />
<div class="container mt-3">
    <div class="row pb-4">
        <div class="col-md-10">
            <h2>Category</h2>
        </div>
        <div class="col-md-2">
            <a href="/Category/AddCategory" class=" btn btn-success text-white">New Category</a>
        </div>
    </div>

    <table class="table table-bordered table-striped table-hover">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>explanation</th>
            <th>Status</th>
            <th>Operations</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryID</td>
                <td>@item.CategoryName</td>
                <td>@item.Description</td>
                <td>@item.CategoryStatus</td>
                <td>
                    <a href="/Edit/@item.CategoryID" class="text-black">
                        <button class="btn btn-warning">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </button>
                    </a>
                    
                    <a href="/Delete/@item.CategoryID" class="text-white">
                        <button class="btn btn-danger">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </a>
                </td>
            </tr>
        }
    </table>
    <br />
</div>
