
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />
<table class="table table-bordered">
    <tr>
        <th> ID</th>
        <th> Name</th>
        <th> explanation</th>
        <th> Status</th>
    </tr>
    <tr>
        <td>1</td>
        <td>2</td>
        <td>13</td>
        <td>1</td>
    </tr>
</table>
<button class="btn btn-primary">New Category</button>
<button class="btn btn-success">List Category</button>