
@{
    ViewBag.Title = "Hakan";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<body>
    <header>
        <h3>My Social Media Accounts</h3>
    </header>
    <main>
        <div class="social-links">
            

            <a href="https://github.com/KhanFarmer" class="btn btn-outline-primary btn-lg" style="font-size: 24px;">
                GitHub <i class="fas fa-code-branch"></i>
            </a>

            <a href="https://www.linkedin.com/in/hakan-%C3%A7ift%C3%A7i-166893254/" class="btn btn-outline-secondary btn-lg" style="font-size: 24px;">
                Linkedin <i class="far fa-star"></i>
            </a>
            
            <a href="https://google.com" class="btn btn-outline-warning btn-lg" style="font-size: 24px;">
                Snapchat <i class="fas fa-ghost"></i>
            </a>
            
            <a href="https://www.instagram.com/khan_farmer/" class="btn btn-outline-info btn-lg" style="font-size: 24px;">
                Instagram <i class="fas fa-camera-retro"></i>
            </a>
            
            <a href="https://google.com" class="btn btn-outline-success btn-lg " style="font-size: 24px;">
                Spotify <i class="fab fa-spotify"></i>
            </a>

            
        </div>
    </main>
</body>

