
@{
    ViewBag.Title = "Hakan";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<body>
    <header>
        <h3>My Social Media Accounts</h3>
    </header>
    <main>
        <div class="social-links">
            <a href="https://github.com/KhanFarmer" target="_blank">
                <button style='font-size:24px'>GitHub <i class='fas fa-code-branch'></i></button>
            </a>
            <a href="https://www.linkedin.com/in/hakan-%C3%A7ift%C3%A7i-166893254/" target="_blank">
                <button style='font-size:24px'>GitHub <i class='far fa-star'></i></button>
               
            </a>
            <a href="https://twitter.com/sizintwitterhesabiniz" target="_blank">
                <button style='font-size:24px'>Snapchat <i class='fas fa-code-branch'></i></button>
               
            </a>
            <a href="https://www.instagram.com/sizininstagramhesabiniz" target="_blank">
                <button style='font-size:24px'>Instagram <i class='fas fa-camera-retro'></i></button>
            </a>
            <a href="https://www.instagram.com/khan_farmer/" target="_blank">
                <button style='font-size:24px'>Spotify <i class='fab fa-spotify'></i></button>
                
            </a>
        </div>
    </main>
</body>

